body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background: #007bff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 10;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

img {
    max-width: 90%;
    height: auto;
}

footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}